@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body,html{
    height: 100vh;
    width: 100%;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.7rem;
    text-transform: capitalize;
}
p{
    font-size: 1rem;
}

h3{
    font-size: 1.2rem;
}

h5{
    font-size: 2rem;
}

button{
    padding: 15px 45px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.o_hidden{
    overflow: hidden;
}

/* home page */

.nav{
    width: 100;
    padding: 2rem 5rem;
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}
.nav_items {
    display: flex;
    width: 70%;
}
.nav_items ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.nav_items ul li a{
    text-decoration: none;
    color: #fff;
}

.cart{
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}


/* product page */
.product_section{
    width: 100%;
    height: 100vh;
    position: relative;
}

.product_container{
    padding: 5rem 3rem;
    width: 100%;
    display: grid;
    gap: 2rem;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
}
.load_more{
    position: absolute;
    left: 45%;
}
.products_cards{
    border-radius: 15px;
    width: 20rem;
    height: 25rem;
    padding: 18px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
}
.products_cards img{
    width: 80%;
    object-fit: cover;
}
.other_details{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.price{
    margin-top: 20px;
}

.ada_to_cart{
    z-index: 3;
}

/* cart page */

.cart_page{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.cart_overlay{
    width: 60%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 5;
}

.hidden{
    display: none;
    transition: 0.3s ease-in-out;
}

.cart_container{
    width: 40%;
    background-color: red;
    z-index: 6;
    padding: 3rem;
}
.cart_item_container{
    max-height: 50vh;
    overflow: auto;
}
.cart_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.cart_close{
    font-size: 2rem;
    cursor: pointer;
}
.cart_item_titles{
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: underline;
    font-size: 1.3rem;
}

.cart_item{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffffff3;
    padding: 20px 20px;
    border-radius: 20px;

}

.cart_qty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 2.5rem;
}
.cart_qty input{
    width: 50%;
    height: 100%;
    text-align: center;
}

.cart_item_img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.cart_item_img img{
    object-fit: cover;
    width: 100%;
}

.remove_item{
    font-size: 1.5rem;
    cursor: pointer;
}

.cart_qty-icon{
    cursor: pointer;
}
.cart_details span{
    width: 100%;
    height: 2px;
    background-color: #000;
}


.cart_details{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.cart_total{
    align-items: right;
    padding: 10px 0;
}

.checkout{
    margin-top: 20px;
    width: 30%;
}

/* product details page */
.SP_container{
    width: 100%;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.SP_left{
    width: 70%;
    height: 70vh;

}
.product_galary{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.product_galary img{
    object-fit: cover;
    width: 80%;
    background-position: center center;
}
.SP_right{
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.size{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 70%;
    height: 7rem;
    justify-content: space-between;
    position: relative;
}
.size p{
    font-size: 1.7rem;
}
.sizes_container{
    display: flex;
    margin-top: 20px;
    width: 90%;
    justify-content: space-between;
}
.sizes_container .sizes{
    padding: 15px 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #d8d3d8;
    font-size: 1.2rem;
}
.color{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 50px;
}
span{
    cursor: pointer;
}
.color_container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 60%;
    height: 5rem;
    position: relative;
}
.color span{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
}
/* .colors{
    background-color: #000;
} */
.byuing_option{
    margin-top: 25px;
    align-items: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.byuing_option h1{
    font-size: 2.5rem;
}
.byuing_option button{
    padding: 18px 60px;
    transition: all 0.3s ease;
}
.byuing_option button:hover{
    background-color: #3b3b3b;
}

.qty{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 40%;
    /* background-color: aqua; */
}

.qty input{
    width: 40%;
    height: 100%;
    border: 2px solid #000;
    outline: none;
    text-align: center;
    font-size: 1rem;
}


.qty i {
    font-size: 1.5rem;
    padding: 6px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}


/* after payment Page */
/* success and cancel page */


.afterPaymentContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.success, .cancel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    color: #fff;

}
.ri-check-line{
    font-size: 7rem;
    color: #fff;
    width: 20rem;
    height: 20rem;
    background-color: #a9e912;
    border-radius: 50%;
}
.ri-close-line{
    font-size: 7rem;
    color: #fff;
    width: 20rem;
    height: 20rem;
    background-color: #e93212;
    border-radius: 50%;
}
.afterPaymentStatus{
    font-size: 3rem;
    margin-top: 20px;
}
.afterPaymentText{
    font-size: 1.5rem;
    margin-top: 20px;
}
.backToHome{
    margin-top: 30px;
}